{% extends 'base.html' %}
{% block content %}
<button class="back-button" onclick="history.back()">
  <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024"><path d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"></path></svg>
  <span>Volver</span>
</button>
<div class="container mt-5">
  <h2 class="text-center mb-4">Usuarios Registrados</h2>

  <div class="accordion" id="usuariosAccordion">

    <!-- Personal de Taller -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTaller">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTaller">
          Personal de Taller
        </button>
      </h2>
      <div id="collapseTaller" class="accordion-collapse collapse show" data-bs-parent="#usuariosAccordion">
        <div class="accordion-body">
          {% include 'usuarios/tabla_taller.html' %}
        </div>
      </div>
    </div>

    <!-- Mensuales -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingMensuales">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMensuales">
          Mensuales
        </button>
      </h2>
      <div id="collapseMensuales" class="accordion-collapse collapse" data-bs-parent="#usuariosAccordion">
        <div class="accordion-body">
          {% include 'usuarios/tabla_mensuales.html' %}
        </div>
      </div>
    </div>

    <!-- Agentes Externos -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingExternos">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExternos">
          Agentes Externos
        </button>
      </h2>
      <div id="collapseExternos" class="accordion-collapse collapse" data-bs-parent="#usuariosAccordion">
        <div class="accordion-body">
          {% include 'usuarios/tabla_externos.html' %}
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}