
{% extends "base.html" %}
{% load form_filters %}
{% block title %}Iniciar sesión{% endblock %}

{% block content %}

<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow-lg bg-white text-dark" style="border-radius: 1rem; min-width: 320px;">
<div class="container">
  <h2 class="text-center mb-4"><i class="fa fa-lock"></i> Iniciar sesión</h2>
  {% if form.errors %}
  <div class="alert alert-danger">
    Usuario o contraseña inválidos
  </div>
{% endif %}
<form method="post">
  {% csrf_token %}

  <div class="mb-3">
    {{ form.username.label_tag }}
    {{ form.username|add_class:"form-control" }}
  </div>

  <div class="mb-3">
    {{ form.password.label_tag }}
    {{ form.password|add_class:"form-control" }}
  </div>

  <button type="submit" class="btn btn-primary w-100">Entrar</button>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" name="recordarme" id="recordarme">
    <label class="form-check-label" for="recordarme">Recordarme</label>
  </div>
</form>
    </div>
    <a href="#" class="d-block mt-2 text-center">¿Olvidaste tu contraseña?</a>
</div>
</div>

{% endblock %}
